@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
	background: url("../public/Background pattern.png") no-repeat fixed center
		center;
	background-size: cover;
}
.hamburger {
	cursor: pointer;
	width: 24px;
	height: 24px;
	transition: all 0.25s;
	position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	content: "";
	position: absolute;
	width: 24px;
	height: 3px;
	top: 0;
	left: 0;
	background: #9c9aa6;
	transform: rotate(0);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(7px);
}

.hamburger-bottom {
	transform: translateY(14px);
}

.open {
	transform: rotate(90deg);
	transform: translateY(0px);
}
